#main,#footer,#header > div{width:page-width;margin:0 auto;position:relative}
#header{position:fixed;top:0;left:0;right:0;background:#f2f2f2 url("../images/grain.png") fixed repeat left top;display:block;z-index:1000;}
#header #header-shadow,#header #header-shadow-line{opacity:0;transition:opacity .5s ease-in-out;}
body.scroll #header #header-shadow,body.scroll #header #header-shadow-line{opacity:1}
#header #logo{display:block;absolute:top left -90px;transition:top .5s ease-in-out;background:url("../images/logo.png") no-repeat left top;width:360px;height:162px;z-index:200;}
#header #logo span{display:none}
body.scroll #header #logo{top:-30px}
#header hr{margin-bottom:0;margin-top:0}
#header #header-shadow{width:800px;height:20px;absolute:bottom left 50%;margin-left:-400px;border-radius:100%;box-shadow:0 0 30px rgba(0,0,0,0.2)}
#header nav{font-family:"Raleway","Helvetica neue",sans-serif;font-weight:100;font-size:20px;line-height:150%;display:block;position:relative;text-align:right;height:75px;background:#f2f2f2 url("../images/grain.png") repeat left top;z-index:100;}
#header nav ul{absolute:top 50px right;margin:0;padding:0;list-style:none;transition:top .5s ease-in-out;}
body.scroll #header nav ul{top:23px}
#header nav ul li{padding:0;list-style:none;display:inline-block;}
#header nav ul li.active a{border-bottom:2px solid #000;color:#333}
#header nav ul li a{color:#bbb;text-decoration:none;display:block;padding:0 0;margin:0 5px;transition:color .3s ease-in-out;-webkit-font-smoothing:subpixel-antialiased;}
#header nav ul li a:hover{color:rgba(0,0,0,0.8)}
#main{padding-top:180px;}
#main #intro{font-size:36px;margin:20px 0;color:rgba(0,0,0,0.4)}
#demo-boxes .box{background:#e1f3f3;background:linear-gradient(top,#f1f7f0,#d3f0f6);width:300px;height:180px;padding:25px 35px;border-radius:5px;box-shadow:1px 1px 12px rgba(0,0,0,0.1);float:left;margin:10px;}
#demo-boxes .box h2{margin:0 0 10px 0}
#demo-boxes .box p{color:#5b6262}
.columns{margin-top:140px;margin-bottom:140px}
#show-your-work{margin-top:10px;min-height:200px;}
#show-your-work img{float:left;position:relative;top:-20px;margin-right:20px}
#footer{color:#aaa}
