html5
head
  meta(charset="utf-8")

  title Opentip | Tests

  != css('mocha.css')

  != js('lib/jquery-1.8.0')
  :coffeescript
    jQuery.noConflict()

  != js('lib/expect')
  != js('lib/mocha')
  :coffeescript
    mocha.setup "bdd"

  != js('lib/sinon-1.4.2')


  - if (typeof component != "undefined")
    != js('build/build.js')

    :coffeescript
      window.Opentip = require "opentip"

  - else
    != js('src/opentip')

    != js('lib/ender')
    :coffeescript
      ender.noConflict()

    != js('src/adapter.native') // Should stay first so it's the default adapter
    != js('src/adapter.ender')
    != js('src/adapter.jquery')

  != js('test')

  :coffeescript
    globals = [ "stats", "report", "opentip-*", "jQuery*" ]
    jQuery -> mocha.globals(globals).run()

body



  #mocha
