@import "nib"

global-reset()

reset-html5()

del
  text-decoration line-through


@import "pygments"

.opentip-container.style-drop
  .opentip
    padding 15px 5px
    width 45px
    height 45px
    text-align center
    color rgba(0, 0, 0, 0.5)

.opentip-container.style-logo
  z-index 20000 !important
  .opentip
    color #f8f8f8
    color rgba(255, 255, 255, 0.9)
    text-shadow 1px 1px 0px rgba(0, 0, 0, 0.2)
    font-size 15px


page-width = 960px

body, body *
  box-sizing border-box

body
  font 14px/150% "Open sans", sans-serif
  padding 0 0 100px 0
  margin 0
  background #F2F2F2 url("../images/grain.png") fixed repeat left top

h1, h2, h3, h4
  font-family "Raleway", "Helvetica neue", sans-serif
  font-weight 100
h1
  font-size 40px
  line-height 130%
  margin 26px 0
h2
  font-size 35px
  line-height 130%
  margin 25px 0
h3
  font-size 24px
  line-height 130%
  color rgba(0, 0, 0, 0.6)
  margin 24px 0
h4
  font-size 20px
  line-height 130%
  margin 23px 0

p
  margin 13px 0

p
ul
  a
    color #00a
    text-decoration none
    transition color 0.2s ease-in-out
    &:hover
      color #00f

hr
  outside = 25px
  position relative
  height 1px
  background #dadada
  background linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1) 5%, rgba(0, 0, 0, 0.1) 95%, rgba(0, 0, 0, 0))
  border none
  margin 60px 0
  margin-left -(outside)
  width page-width + (outside * 2)


code
  font-family menlo, monospace

p > code
li > code
td > code
  border 1px dotted #CBE3C5
  background #EFF5EE
  padding 1px 2px
  color #7FA475

pre
  margin 30px 0
  margin 30px 0
  border 1px solid #DDD
  padding 8px 12px
  background white
  border-radius 2px
  box-shadow 1px 1px 9px #EAEAEA

p
  color #333

strong
  font-weight bold
em
  font-style italic

blockquote
  border 1px solid #e8e8e8
  background rgba(0, 0, 0, 0.01)
  box-shadow 2px 2px 15px #e5e5e5
  p
    padding 8px 25px


.columns
  .left
    width 50%
    float left
    padding-right 40px
  .right
    width 50%
    float right
    padding-left 40px
  clearfix()


table
  border 1px solid #ddd
  box-shadow 1px 1px 20px #eee
  thead
    th
      border-bottom 1px solid #ddd
      background #Fafafa
      font-weight bold
      color #555
      padding 8px 10px
  td
    padding 5px 10px
    border-bottom 1px solid #eee

  tr:nth-child(odd)
    td
      background #F8F8F8

@import "layout"


