@import "nib"

.opentip-container, .opentip-container *
  box-sizing border-box

.opentip-container
  position absolute
  max-width 300px
  z-index 100
  transition none
    
  &.hidden
    display none

  .opentip
    position relative
    font-size 13px
    line-height 120%
    padding 3px

