code
  color rgba(0, 0, 0, 0.6)

  .nt
  .k
  .nv
    color rgba(0, 50, 0, 0.6)
    font-weight bold
  .na
  .p
  .nx
    color rgba(0, 0, 100, 0.6)
  .s
  .s2
    color rgba(150, 0, 0, 0.7)
    background rgba(255, 0, 0, 0.04)
    font-weight bold
  .mi
    color rgba(0, 0, 150, 0.7)
    background rgba(0, 0, 255, 0.04)
    font-weight bold
  .nx
    font-weight bold
  .c
  .c1
    color rgba(0, 0, 0, 0.3)